{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "shippedProposals": true,
        "exclude": [
          "web.dom-collections.iterator",
          "es.object.assign"
        ]
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "macros"
  ]
}
