@import "../../../src/styles/sham-ui-datetimepicker.scss";

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
main {
  padding: 30px;
}

* {
  box-sizing: border-box;
}

